*{
    margin: 0;
    box-sizing: border-box;
}
.navigationDiv{
    background-color: rgb(188, 242, 255);
    display: flex;
    margin:0 auto;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
}

.navbar{
    width: 250px;
    display:flex;
    justify-content: space-around;
}

.navbar > a {
    font-family: "Open sans", sans-serif;
    color: rgb(155, 149, 149);
    padding: 21px 10px;
    text-decoration: none;
    font-size: 1.5em;
    transition:background-color .4s, color .4s;
}
a:hover {
    color:white;
    background-color: rgb(119, 153, 161);
}