.weather{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}
.weatherForm{
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
}
h2{
    margin-top:50px;
    font-size: 2.5em;
    text-align: center;
    font-family: 'Caveat', cursive;
    color: rgb(66, 66, 66);
}
.weatherForm > input {
    font-size: 1.5em;
}

.weatherForm > input[type="text"],.weatherForm > input[type="submit"] {
    margin: 20px 0;
    width: 300px;
    border:none;
    padding: 5px 2px;

}
.weatherForm > input[type="submit"] { 
    transition: background-color .4s
}
.weatherForm > input[type="submit"]:hover {
    cursor: pointer;
}
.weatherForm > input[type="text"]{
    border:none;
    padding: 5px 2px;
    outline: 1px solid rgb(219, 219, 219);
    width: 500px;
    transition: box-shadow .4s;
}

.weatherForm > input[type="text"]:focus{
    outline:  none;
    box-shadow: inset 0 -2px rgb(119, 153, 161);    
}
