.weatherData{
    height: 235px;
    margin-bottom: 35px;
    border-radius: 10px;
    transition: box-shadow 0.4s;
    padding:20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(219, 219, 219, 0.596);

}
.townName{
    margin-bottom:10px;
}
.weatherToday{
    display: flex;
    align-items:flex-end ;
    justify-content: flex-start;
    
    height: 60px;
    width: 500px;
    
}
.weatherToday >div{
    margin-right: 20px;
}

.column-1{
    display: flex;
    align-items: flex-end;
    
}
.column-2{
    display: flex;
    flex-direction: column;
}
.column-2>.text{
}
.deg{
    font-size: 3em;
}
.windSpeed{
}

